{% extends 'base.html' %}

{% load static %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/tag&post_create.css' %}">
<link rel="stylesheet" href="{% static 'css/post_create.css' %}">
{% endblock %}


{% block title%}
	Tag create
{% endblock %}

{% block content %}

	<form action="{% url 'post_create_url' %}" method='post'>

		{% csrf_token %}

		<div class='form'>
			
			{% for field in form %}

			<div class="form-group">

				{{ field.label }}:
				{{ field }}

				{% if field.errors %}
				<div class="danger">
					{{ field.errors }}
				</div>
				{% endif %}

			</div>
			
			{% endfor %}	

			<button type='submit'>Create post</button>
		
		</div>
		
	</form>	

{% endblock %}