{% extends 'base.html' %}

{% load static %}

<link rel="stylesheet" href="{% static 'css/tag&post_create.css' %}">
{% endblock %}

{% block title %}
	Tag "{{ tag.title }}"
{% endblock %}

{% block content %}

	<form action="{{ tag.get_tagUpdate_url }}" method="post">

		{% csrf_token %}
		<div class='form'>
			{% for field in form %}
			<div class='form-group'>

				{{ field.label }}
				{{ field }}

				{% if field.errors %}
					<div class='danger'>
						{{ field.errors }}
					</div>
				{% endif %}
			</div>

			{% endfor %}
				<button type='submit' class='btn btn-primary'>Create tag</button>
		</div>
	</form>

{% endblock %}
